/* Компонент кешбэка */
.cb {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 8px;
    border-radius: 6px;
    background: #FEEFCD;
}

/* Иконка слева */
.cb__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 0 0 auto;
}

/* Текстовый блок */
.cb__text {
    display: flex;
    flex-direction: column;
}

/* Заголовок */
.cb__title {
    font-size: 14px;
    font-weight: 600;
    line-height: 22px;
    color: #111;
    white-space: nowrap;
}

/* Подзаголовок */
.cb__subtitle {
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    color: #333;
    white-space: nowrap;
}

.cb__actions {
    margin-left: auto;
    display: flex;
    align-items: center;
}

/* Кнопка инфо */
.cb__info-btn {
    width: 20px;
    height: 20px;
    padding: 0;
    border: 0;
    background: transparent;

    display: inline-flex;
    align-items: center;
    justify-content: center;

    cursor: pointer;
}

/* Ховер/фокус — аккуратно */
.cb__info-btn:hover {
    opacity: 0.85;
}

.cb__info-btn:focus-visible {
    outline: 2px solid rgba(0, 147, 208, 0.35);
    outline-offset: 2px;
    border-radius: 6px;
}

/* Базовый контейнер тултипа */
.tippy-box {
    border-radius: 10px;
    font-size: 12px;
    line-height: 16px;
    padding: 0;
    box-shadow: 0 8px 24px rgba(0, 0, 0, .18);
}

/* Контент */
.tippy-content {
    padding: 0 12px;
    min-width: 350px;
    box-sizing: border-box;
}

.tippy-content ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.tippy-content ul li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    padding-block: 12px;
}

.tippy-content ul li:not(:last-child) {
    border-bottom: 1px solid rgba(0, 0, 0, 0.04);
}

.tippy-content ul li span {
    text-align: left;
}

.tippy-content ul li a {
    text-align: right;
    color: inherit;
    text-decoration: none;
}

.tippy-content ul li a.cb-link {
    color: #0092D0;
    font-weight: bold;
}

.tippy-content ul li a.cb-link:hover {
    text-decoration: underline;
}

.tippy-content ul li a:hover {
    text-decoration: underline;
}

/* Стрелка */
.tippy-svg-arrow {
    fill: #FFFFFF; /* цвет стрелки */
}

.tippy-box[data-theme~='coral'] {
    background: #FFFFFF;
    color: #000000;
}


.tippy-box[data-animation='scale'][data-state='hidden'] {
    transform: scale(0.96);
}
