@import "tailwindcss";
@import "tw-animate-css";
@custom-variant dark (&:is(.dark *));

:root {
    --background: oklch(100% 0 0deg);
    --foreground: oklch(18.84% 0.0128 248.5103deg);
    --card: oklch(97.84% 0.0011 197.1387deg);
    --card-foreground: oklch(18.84% 0.0128 248.5103deg);
    --popover: oklch(100% 0 0deg);
    --popover-foreground: oklch(18.84% 0.0128 248.5103deg);
    --primary: oklch(67.23% 0.1606 244.9955deg);
    --primary-foreground: oklch(100% 0 0deg);
    --secondary: oklch(18.84% 0.0128 248.5103deg);
    --secondary-foreground: oklch(100% 0 0deg);
    --muted: oklch(92.22% 0.0013 286.3737deg);
    --muted-foreground: oklch(18.84% 0.0128 248.5103deg);
    --accent: oklch(93.92% 0.0166 250.8453deg);
    --accent-foreground: oklch(67.23% 0.1606 244.9955deg);
    --destructive: oklch(61.88% 0.2376 25.7658deg);
    --destructive-foreground: oklch(100% 0 0deg);
    --border: oklch(93.17% 0.0118 231.6594deg);
    --input: oklch(98.09% 0.0025 228.7836deg);
    --ring: oklch(68.18% 0.1584 243.3540deg);
    --chart-1: oklch(67.23% 0.1606 244.9955deg);
    --chart-2: oklch(69.07% 0.1554 160.3454deg);
    --chart-3: oklch(82.14% 0.1600 82.5337deg);
    --chart-4: oklch(70.64% 0.1822 151.7125deg);
    --chart-5: oklch(59.19% 0.2186 10.5826deg);
    --sidebar: oklch(97.84% 0.0011 197.1387deg);
    --sidebar-foreground: oklch(18.84% 0.0128 248.5103deg);
    --sidebar-primary: oklch(67.23% 0.1606 244.9955deg);
    --sidebar-primary-foreground: oklch(100% 0 0deg);
    --sidebar-accent: oklch(93.92% 0.0166 250.8453deg);
    --sidebar-accent-foreground: oklch(67.23% 0.1606 244.9955deg);
    --sidebar-border: oklch(92.71% 0.0101 238.5177deg);
    --sidebar-ring: oklch(68.18% 0.1584 243.3540deg);
    --font-sans: open sans, sans-serif;
    --font-serif: georgia, serif;
    --font-mono: menlo, monospace;
    --radius: 1.3rem;
    --shadow-x: 0px;
    --shadow-y: 2px;
    --shadow-blur: 0px;
    --shadow-spread: 0px;
    --shadow-opacity: 0;
    --shadow-color: rgb(29 161 242 / 15%);
    --shadow-2xs: 0px 2px 0px 0px hsl(202.8169deg 89.1213% 53.1373% / 0%);
    --shadow-xs: 0px 2px 0px 0px hsl(202.8169deg 89.1213% 53.1373% / 0%);
    --shadow-sm: 0px 2px 0px 0px hsl(202.8169deg 89.1213% 53.1373% / 0%), 0px 1px 2px -1px hsl(202.8169deg 89.1213% 53.1373% / 0%);
    --shadow: 0px 2px 0px 0px hsl(202.8169deg 89.1213% 53.1373% / 0%), 0px 1px 2px -1px hsl(202.8169deg 89.1213% 53.1373% / 0%);
    --shadow-md: 0px 2px 0px 0px hsl(202.8169deg 89.1213% 53.1373% / 0%), 0px 2px 4px -1px hsl(202.8169deg 89.1213% 53.1373% / 0%);
    --shadow-lg: 0px 2px 0px 0px hsl(202.8169deg 89.1213% 53.1373% / 0%), 0px 4px 6px -1px hsl(202.8169deg 89.1213% 53.1373% / 0%);
    --shadow-xl: 0px 2px 0px 0px hsl(202.8169deg 89.1213% 53.1373% / 0%), 0px 8px 10px -1px hsl(202.8169deg 89.1213% 53.1373% / 0%);
    --shadow-2xl: 0px 2px 0px 0px hsl(202.8169deg 89.1213% 53.1373% / 0%);
    --tracking-normal: 0em;
    --spacing: 0.25rem;
}

.dark {
    --background: oklch(0% 0 0deg);
    --foreground: oklch(93.28% 0.0025 228.7857deg);
    --card: oklch(20.97% 0.0080 274.5332deg);
    --card-foreground: oklch(88.53% 0 0deg);
    --popover: oklch(0% 0 0deg);
    --popover-foreground: oklch(93.28% 0.0025 228.7857deg);
    --primary: oklch(66.92% 0.1607 245.0110deg);
    --primary-foreground: oklch(100% 0 0deg);
    --secondary: oklch(96.22% 0.0035 219.5331deg);
    --secondary-foreground: oklch(18.84% 0.0128 248.5103deg);
    --muted: oklch(20.9% 0 0deg);
    --muted-foreground: oklch(56.37% 0.0078 247.9662deg);
    --accent: oklch(19.28% 0.0331 242.5459deg);
    --accent-foreground: oklch(66.92% 0.1607 245.0110deg);
    --destructive: oklch(61.88% 0.2376 25.7658deg);
    --destructive-foreground: oklch(100% 0 0deg);
    --border: oklch(26.74% 0.0047 248.0045deg);
    --input: oklch(30.2% 0.0288 244.8244deg);
    --ring: oklch(68.18% 0.1584 243.3540deg);
    --chart-1: oklch(67.23% 0.1606 244.9955deg);
    --chart-2: oklch(69.07% 0.1554 160.3454deg);
    --chart-3: oklch(82.14% 0.1600 82.5337deg);
    --chart-4: oklch(70.64% 0.1822 151.7125deg);
    --chart-5: oklch(59.19% 0.2186 10.5826deg);
    --sidebar: oklch(20.97% 0.0080 274.5332deg);
    --sidebar-foreground: oklch(88.53% 0 0deg);
    --sidebar-primary: oklch(68.18% 0.1584 243.3540deg);
    --sidebar-primary-foreground: oklch(100% 0 0deg);
    --sidebar-accent: oklch(19.28% 0.0331 242.5459deg);
    --sidebar-accent-foreground: oklch(66.92% 0.1607 245.0110deg);
    --sidebar-border: oklch(37.95% 0.0220 240.5943deg);
    --sidebar-ring: oklch(68.18% 0.1584 243.3540deg);
    --font-sans: open sans, sans-serif;
    --font-serif: georgia, serif;
    --font-mono: menlo, monospace;
    --radius: 1.3rem;
    --shadow-x: 0px;
    --shadow-y: 2px;
    --shadow-blur: 0px;
    --shadow-spread: 0px;
    --shadow-opacity: 0;
    --shadow-color: rgb(29 161 242 / 25%);
    --shadow-2xs: 0px 2px 0px 0px hsl(202.8169deg 89.1213% 53.1373% / 0%);
    --shadow-xs: 0px 2px 0px 0px hsl(202.8169deg 89.1213% 53.1373% / 0%);
    --shadow-sm: 0px 2px 0px 0px hsl(202.8169deg 89.1213% 53.1373% / 0%), 0px 1px 2px -1px hsl(202.8169deg 89.1213% 53.1373% / 0%);
    --shadow: 0px 2px 0px 0px hsl(202.8169deg 89.1213% 53.1373% / 0%), 0px 1px 2px -1px hsl(202.8169deg 89.1213% 53.1373% / 0%);
    --shadow-md: 0px 2px 0px 0px hsl(202.8169deg 89.1213% 53.1373% / 0%), 0px 2px 4px -1px hsl(202.8169deg 89.1213% 53.1373% / 0%);
    --shadow-lg: 0px 2px 0px 0px hsl(202.8169deg 89.1213% 53.1373% / 0%), 0px 4px 6px -1px hsl(202.8169deg 89.1213% 53.1373% / 0%);
    --shadow-xl: 0px 2px 0px 0px hsl(202.8169deg 89.1213% 53.1373% / 0%), 0px 8px 10px -1px hsl(202.8169deg 89.1213% 53.1373% / 0%);
    --shadow-2xl: 0px 2px 0px 0px hsl(202.8169deg 89.1213% 53.1373% / 0%);
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --color-card: var(--card);
    --color-card-foreground: var(--card-foreground);
    --color-popover: var(--popover);
    --color-popover-foreground: var(--popover-foreground);
    --color-primary: var(--primary);
    --color-primary-foreground: var(--primary-foreground);
    --color-secondary: var(--secondary);
    --color-secondary-foreground: var(--secondary-foreground);
    --color-muted: var(--muted);
    --color-muted-foreground: var(--muted-foreground);
    --color-accent: var(--accent);
    --color-accent-foreground: var(--accent-foreground);
    --color-destructive: var(--destructive);
    --color-destructive-foreground: var(--destructive-foreground);
    --color-border: var(--border);
    --color-input: var(--input);
    --color-ring: var(--ring);
    --color-chart-1: var(--chart-1);
    --color-chart-2: var(--chart-2);
    --color-chart-3: var(--chart-3);
    --color-chart-4: var(--chart-4);
    --color-chart-5: var(--chart-5);
    --color-sidebar: var(--sidebar);
    --color-sidebar-foreground: var(--sidebar-foreground);
    --color-sidebar-primary: var(--sidebar-primary);
    --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
    --color-sidebar-accent: var(--sidebar-accent);
    --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
    --color-sidebar-border: var(--sidebar-border);
    --color-sidebar-ring: var(--sidebar-ring);
    --font-sans: var(--font-sans);
    --font-mono: var(--font-mono);
    --font-serif: var(--font-serif);
    --radius-sm: calc(var(--radius) - 4px);
    --radius-md: calc(var(--radius) - 2px);
    --radius-lg: var(--radius);
    --radius-xl: calc(var(--radius) + 4px);
    --shadow-2xs: var(--shadow-2xs);
    --shadow-xs: var(--shadow-xs);
    --shadow-sm: var(--shadow-sm);
    --shadow: var(--shadow);
    --shadow-md: var(--shadow-md);
    --shadow-lg: var(--shadow-lg);
    --shadow-xl: var(--shadow-xl);
    --shadow-2xl: var(--shadow-2xl);
}

@layer base {
    * {
        @apply border-border outline-ring/50;
    }

    body {
        @apply bg-background text-foreground;
    }
}
