@use 'tokens' as *;

::slotted([slot='action']) {
  padding: 13px 56px;
  color: #FFF;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  background: var(--gradient, linear-gradient(225deg, #E7317D 0%, #D8242A 100%));
  border: none;
  border-radius: 40px;
  cursor: pointer;
}
