@use 'tokens' as *;


::slotted([slot='benefit']) {
  font-size: 15px;
  position: relative;
  padding-left: 32px;

  &:before {
    content: ' ';
    width: 24px;
    height: 100%;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none'%3E%3Cpath d='M5 13L9 17L19 7' stroke='url(%23paint0_linear_468_7596)' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cdefs%3E%3ClinearGradient id='paint0_linear_468_7596' x1='19' y1='7' x2='9.54054' y2='20.2432' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23E7317D'/%3E%3Cstop offset='1' stop-color='%23D8242A'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E");
  }
}
