@use 'tokens' as *;

.popup-dialog {
  position: relative;
  width: 100%;
  max-width: 486px;
  background: $color-white;
  border-radius: $radius-lg;
  font-size: inherit;
  z-index: 2;
}

.popup-visual {
  position: relative;
}

.popup-prime-button {
  &:hover {
    background-color: $color-primary-hover;
  }

  &:active {
    background-color: $color-primary-active;
  }
}

.popup-content {
  padding: 16px;
}

/* Кнопка закрытия */
.popup-close {
  position: absolute;
  top: 16px;
  right: 16px;
  z-index: 5;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 32px;
  height: 32px;
  padding: 0;

  background: #FFFFFF;
  border: 1px solid $color-border;
  border-radius: 8px;
  cursor: pointer;
}

/* Анимация появления/исчезновения диалога */
.dialog-fade-enter-active,
.dialog-fade-leave-active {
  transition: opacity $dur-quick $ease, transform $dur-quick $ease;
}

.dialog-fade-enter-from,
.dialog-fade-leave-to {
  opacity: 0;
  transform: scale(0.95);
}

.dialog-fade-enter-to,
.dialog-fade-leave-from {
  opacity: 1;
  transform: scale(1);
}
