// Цвета
$color-white: #fff;
$text-color: #000;
$color-muted: #666;
$color-border: #d9d9d9;
$color-primary: #0095d9;
$color-primary-hover: #077dad;
$color-primary-active: #0063b3;
$color-backdrop: rgb(0 0 0 / 50%);

// Типографика/шрифты
$font-family: 'Manrope', 'Manrope Fallback', sans-serif;
$font-size-base: 16px;
$font-size-sm: 14px;

// Пространство/радиусы
$radius-md: 8px;
$radius-lg: 16px;

// Тайминги
$dur-quick: 0.3s;
$ease: ease;

// Брейкпоинты
$bp-sm: 993px;
