@use 'tokens' as *;

::slotted([slot='visual']) {
  width: 100%;
  height: 262px;
  margin: 0;
  display: block;
  border-top-left-radius: $radius-lg;
  border-top-right-radius: $radius-lg;
  object-fit: cover;
}
