@use 'tokens';
@use 'overlay';
@use 'dialog';
@use "visual";
@use "erid";
@use "headline";
@use "subline";
@use "benefits";
@use "action";
@use "attention";

@media (width <= 993px) {
  :host {
    position: relative;

    &::after {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;
      display: block;
      width: 100%;
      height: 100%;
      background-color: rgb(0 0 0 / 50%);
      content: '';
    }
  }
}


.popup-body {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  display: flex;
  align-items: start;
  justify-content: center;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding: 2rem;
  overflow-y: scroll;

  @media (width >= 994px) {
    &::after {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;
      display: block;
      width: 100%;
      height: 100%;
      background-color: rgb(0 0 0 / 50%);
      content: '';
    }
  }


  @media (width <= 993px) {
    padding: 1rem;
  }
}

.popup-visual {
  position: relative;
}

.popup-content {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  justify-content: start;
}

.popup-benefits {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 0;
  padding: 0;
  list-style: none;
}
