@use 'tokens' as *;


::slotted([slot='action']) {
  border-radius: 8px;
  background: #0092D0;
  border: none;
  padding: 13px 56px;
  color: #FFFFFF;
  font-size: 16px;
  line-height: 22px;
  cursor: pointer;
  width: 100%;

  &:hover {
    background: #0092D0;
  }

  &:active {
    background: #33c2ff;
  }
}
