@use "tokens" as *;

::slotted([slot="visual"]) {
	display: block;
	width: 100%;
	height: 262px;
	margin: 0;
	object-fit: cover;
	border-top-left-radius: $radius-lg;
	border-top-right-radius: $radius-lg;
}
