@use 'tokens';
@use 'overlay';
@use 'dialog';
@use "visual";
@use "erid";
@use "headline";
@use "subline";
@use "action";
@use "attention";


:host {
  position: relative;
}

.popup-body {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1010;
  display: flex;
  align-items: start;
  justify-content: center;
  padding: 2rem;
  overflow-y: scroll;

  @media (max-width: 993px) {
    padding: 1rem;
  }
}

.popup-backdroppo {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

.popup-visual {
  position: relative;
}

.popup-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  gap: 20px;
}

.popup-benefits {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 0;
  margin: 0;
}
