.container {
	background:
		url("https://b2ccdn.coral.by/content/countdown-rb-desktop-content-plate-2.webp"),
		url("https://b2ccdn.coral.by/content/countdown-rb-desktop-plate.webp");
	background-size: contain, cover;
	background-repeat: no-repeat;
	background-position:
		110% center,
		center;
	border-radius: 16px;
	padding: var(--padding-paddingLG, 24px);
	overflow: clip;
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 56px;

	@media (max-width: 1023px) {
		flex-direction: column;
		align-items: start;
		justify-content: start;
		gap: 0;
		min-height: 475px;

		background:
			url("https://b2ccdn.coral.by/content/countdown-rb-mob-content-plate.webp"),
			url("https://b2ccdn.coral.by/content/countdown-rb-mob-plate.webp");
		background-size: contain, cover;
		background-repeat: no-repeat;
		background-position:
			center top,
			center;
	}
}

.text {
	display: flex;
	flex-direction: column;
	gap: 8px;

	@media (max-width: 1023px) {
		order: 2;
	}
}

.countdown {
	display: flex;
	align-items: center;
	color: #fff;
	font-size: 48px;
	margin-left: auto;

	@media (max-width: 1023px) {
		order: 1;
		margin: 0 auto 38px;
	}
}

.item {
	display: flex;
	flex-direction: column;
	align-items: center;
	min-width: 68px;
}

.value {
	font-weight: 700;
	line-height: 1;
}

.label {
	margin-top: 8px;
	font-size: 20px;
}

.colon {
	font-weight: 700;
	line-height: 1;
	margin-bottom: 35px;
}

::slotted([slot="headline"]) {
	margin: 0;
	color: var(--Text-color_Text_Light, #fff);
	font-size: var(--font-font_Size_Heading_2, 32px);
	font-weight: var(--font-font_Weight_Semibold, 600);
	line-height: var(--font-font_Line_Height_Heading_2, 40px);
}

::slotted([slot="subline"]) {
	margin: 0;
	color: var(--Text-color_Text_Light, #fff);
	font-size: var(--font-font_Size_Body, 16px);
	font-weight: var(--font-font_Weight_Regular, 400);
	line-height: var(--font-font_Line_Height_Body, 24px); /* 150% */
	text-wrap: balance;
}

::slotted([slot="link"]) {
	flex-shrink: 0;
	border-radius: 48px;
	background: var(--Buttons-color_Btn_Bg_Alt, #fff);
	padding: 12px 20px;
	font-size: 16px;
	font-weight: 600;
	line-height: 20px;
	border: 1px solid #fff;
	color: #000;
	transition:
		color 300ms ease,
		border-color 300ms ease;

	@media (max-width: 1023px) {
		order: 3;
		margin-top: 24px;
	}
}

::slotted([slot="link"]:hover) {
	color: #0092d0;
	border-color: #0092d0;
}

::slotted([slot="link"]:active) {
	color: #0063b3;
	border-color: #0063b3;
}
