section.hero > article .contenu {
  .prime-btn {
    height: 48px;
    margin: 0;
    padding: 12px 20px;
    color: var(--color_Text_Light);
    font-size: var(--font_Size_Body);
    text-align: center;
    text-decoration: none;
    background-color: var(--color_Btn_Bg_Default);
    border: none;
    border-radius: 48px;
    cursor: pointer;
    transition: background-color var(--transition);

    @media(hover: hover) {
      &:hover {
        background-color: var(--color_Btn_Bg_Hover);
      }
    }

    &:active {
      background-color: var(--color_Btn_Bg_Pressed);
    }

    &:focus-visible {
      background-color: var(--color_Btn_Bg_Focused);
      outline: 1px solid var(--color_Btn_Border_Focused);
    }

    &:disabled {
      background-color: var(--color_Btn_Bg_Disabled);
    }
  }

  .prime-btn.light {
    color: var(--color_Btn_Text_Alt);
    background-color: var(--color_Btn_Bg_Alt);
    border: 1px solid var(--color_Btn_Bg_Alt);
    transition: border-color var(--transition), color var(--transition);

    @media(hover: hover) {
      &:hover {
        color: var(--color_Btn_Bg_Hover);
        border-color: var(--color_Btn_Bg_Hover)
      }
    }

    &:active {
      color: var(--color_Btn_Border_Pressed);
      border-color: var(--color_Btn_Border_Pressed);
    }

    &:focus-visible {
      border-color: var(--color_Btn_Border_Focused);
      outline: 1px solid var(--color_Btn_Border_Focused);
    }
  }

  .prime-btn.ghost {
    color: var(--color_Text_Dark);
    background: transparent;
    border: 1px solid var(--color_Btn_Border_Ghost_Default);
    transition: border-color var(--transition), color var(--transition);

    @media(hover: hover) {
      &:hover {
        color: var(--color_Btn_Bg_Hover);
        border-color: var(--color_Btn_Bg_Hover)
      }
    }

    &:active {
      color: var(--color_Btn_Border_Pressed);
      border-color: var(--color_Btn_Border_Pressed);
    }

    &:focus-visible {
      border-color: var(--color_Btn_Border_Focused);
      outline: 1px solid var(--color_Btn_Border_Focused);
    }
  }

  .prime-link {
    color: var(--color_Btn_Bg_Default);
    font-size: var(--font_Size_Body);
    transition: color var(--transition);

    @media(hover: hover) {
      &:hover {
        color: var(--color_Btn_Bg_Hover);
      }
    }

    &:active {
      color: var(--color_Btn_Bg_Pressed);
    }

    &:focus-visible {
      color: var(--color_Btn_Text_Ghost_Focused);
      text-decoration: underline;
    }

    &:disabled {
      color: var(--color_Text_Dark);
    }
  }
}
