@use "mixins";

*, *::after, *::before {
  box-sizing: border-box;
}

section.hero > article .contenu {
  @include mixins.hero-layout;

  h1, h2, h3, h4, h5 {
    margin: 0;
  }

  h1 {
    font-size: 36px;
  }

  h2 {
    font-size: var(--font_Size_Heading_2);
    line-height: var(--font_Line_Height_Heading_2);
  }

  h3 {
    font-size: var(--font_Size_Heading_3);
    line-height: var(--font_Line_Height_Heading_3);
  }

  h4 {
    font-size: var(--font_Size_Heading_4);
    line-height: var(--font_Line_Height_Heading_4);
  }

  h5 {
    font-size: var(--font_Size_Heading_5);
    line-height: var(--font_Line_Height_Heading_5);
  }

  p {
    margin: 0;
    font-size: var(--font_Size_Body);
  }

  img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

section.hero.full-width {
  @include mixins.hero-layout-full-width;

  &::after {
    background: #fff;
  }
}

.row-container.layout-container-limit.center:has(section.full-width) {
  overflow-x: visible;
}

[data-vimeo-mobile] {
  display: block;

  @include mixins.respond-up(md) {
    display: none;
  }
}

[data-vimeo-desktop] {
  display: none;

  @include mixins.respond-up(md) {
    display: block;
  }
}
