@use 'tokens' as *;

/* legal */
.ligal-container {
  width: 100%;
  color: $text-muted;
  font-size: 12px;
  text-align: center;

  .ligal {
    display: block;
  }

  .erid {
    display: none;
  }

  &:hover {
    .legal {
      display: none;
    }

    .erid {
      display: block;
    }
  }
}

/* erid взаимодействие */
.erid {
  @media (hover: hover) {
    &:hover {
      color: var(--color_Btn_Bg_Hover);
      cursor: pointer;
    }
  }

  &:active {
    color: var(--color_Btn_Bg_Pressed);
  }
}

/* кнопка основная */
.prime-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 0;
  padding: 9px;
  color: var(--color_Text_Light);
  font-size: 14px;
  line-height: 1;
  text-align: center;
  background-color: var(--color_Btn_Bg_Default);
  border: none;
  border-radius: $radius-md;
  cursor: pointer;
  transition: background-color var(--transition);

  @media (hover: hover) {
    &:hover {
      background-color: var(--color_Btn_Bg_Hover);
    }
  }

  &:active {
    background-color: var(--color_Btn_Bg_Pressed);
  }

  &:focus-visible {
    background-color: var(--color_Btn_Bg_Focused);
    outline: 1px solid var(--color_Btn_Border_Focused);
  }

  &:disabled {
    background-color: var(--color_Btn_Bg_Disabled);
  }
}

/* триггер (кнопка-ухо) */
.joint-trigger {
  position: absolute;
  top: 50%;
  left: 0;
  z-index: 5;
  display: flex;
  flex-direction: column;
  gap: 6px;
  align-items: center;
  max-width: 50px;
  padding: 8px;
  color: #fff;
  text-align: center;
  background-color: #0092d0;
  border: none;
  border-radius: 0 $radius-lg $radius-lg 0;
  transform: translateX(0) translateY(-50%);
  cursor: pointer;
  transition: all .3s ease-in-out;
  pointer-events: all;

  @media (max-width: $bp-mobile) {
    top: auto;
    bottom: 16px;
    left: 16px;
    border-radius: $radius-lg;
    transform: translateX(0) translateY(0);
  }

  .icon {
    width: 24px;
    height: 24px;
    animation: anima 5s ease-in-out infinite;
  }
}

.joint-trigger.vip {
  background: #262626;
}

/* кнопка закрытия (крестик) */
.popup-close {
  position: absolute;
  top: 16px;
  right: 16px;
  z-index: 5;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  padding: 0;
  background: #fff;
  border: 1px solid $border;
  border-radius: $radius-md;
  cursor: pointer;
  transition: border-color .3s ease;

  svg path {
    transition: stroke .3s ease;
  }

  &:hover {
    border-color: #077dad;

    svg path {
      stroke: #077dad;
    }
  }

  &:active {
    border-color: #0063b3;

    svg path {
      stroke: #0063b3;
    }
  }
}
