@keyframes anima {
  0% {
    transform: rotate(0)
  }

  5% {
    transform: rotate(-20deg)
  }

  10% {
    transform: rotate(-15deg)
  }

  15% {
    transform: rotate(-20deg)
  }

  20% {
    transform: rotate(-20deg)
  }

  25% {
    transform: rotate(-20deg)
  }

  35% {
    transform: rotate(-20deg)
  }

  40% {
    transform: rotate(0)
  }

  45% {
    transform: rotate(10deg)
  }

  50% {
    transform: rotate(0)
  }

  55% {
    transform: rotate(20deg)
  }

  60% {
    transform: rotate(15deg)
  }

  65% {
    transform: rotate(20deg)
  }

  70% {
    transform: rotate(20deg)
  }

  75% {
    transform: rotate(20deg)
  }

  80% {
    transform: rotate(20deg)
  }

  85% {
    transform: rotate(20deg)
  }

  90% {
    transform: rotate(0)
  }

  95% {
    transform: rotate(-10deg)
  }

  100% {
    transform: rotate(0)
  }
}
