@use 'tokens' as *;

:host {
  position: fixed;
  top: 50%;
  left: 0;
  z-index: 1000;
  width: 160px;
  transform: translateY(-50%);
  pointer-events: none;

  @media (max-width: $bp-mobile) {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 24px 16px;
  }
}

.backdrop {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
  width: 100%;
  height: 100%;
  background: #0000006e;
}
