/* slide со статикой */
.joint-slider-vip {
  padding: 0;
  overflow: clip;
  background: #1b1b1b;
}

/* карточка */
.coral-joint__card {
  width: 100%;
  color: #fff;
  background: #1b1b1b;
}

/* визуальный блок */
.coral-joint__visual {
  margin-bottom: 18px;
}

.coral-joint__image {
  display: block;
  width: 100%;
  height: 220px;
  object-fit: cover;
  clip-path: ellipse(140% 110% at 50% -10%);
}

/* контент */
.coral-joint__content {
  padding: 12px;
}

/* логотип */
.coral-joint__logo {
  margin-bottom: 18px;

  img {
    display: block;
    width: auto;
    height: 100%;
    object-fit: contain;
  }
}

/* заголовок */
.coral-joint__title {
  margin-bottom: 4px;
  font-weight: 400;
  font-size: 16px;
  font-family: 'TrajanPro3Regular', sans-serif;
  font-style: normal;
  line-height: 20px;
}

/* текст */
.coral-joint__text {
  margin-top: 0;
  margin-bottom: 18px;
  font-size: 10px;
}

/* footer */
.coral-joint__footer {
  margin-top: 12px;
}

/* кнопка */
.coral-joint__button {
  width: 100%;
  padding: 5px 15px;
  font-size: 14px;
  line-height: 22px;
  background: var(--colorBgContainer, #fff);
  border: 1px solid var(--colorBorder, rgb(0 0 0 / 15%));
  border-radius: 8px;
  cursor: pointer;
}
