/* slide со статикой */
.joint-slider-vip {
  background: #1b1b1b;
  padding: 0;
  overflow: clip;
}

/* карточка */
.coral-joint__card {
  background: #1b1b1b;
  width: 100%;
  color: #ffffff;
}

/* визуальный блок */
.coral-joint__visual {
  margin-bottom: 18px;
}

.coral-joint__image {
  height: 220px;
  width: 100%;
  display: block;
  object-fit: cover;
  clip-path: ellipse(140% 110% at 50% -10%);
}

/* контент */
.coral-joint__content {
  padding: 12px;
}

/* логотип */
.coral-joint__logo {
  margin-bottom: 18px;

  img {
    width: auto;
    height: 100%;
    object-fit: contain;
    display: block;
  }
}

/* заголовок */
.coral-joint__title {
  margin-bottom: 4px;
  font-family: 'TrajanPro3Regular', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}

/* текст */
.coral-joint__text {
  font-size: 10px;
  margin-top: 0;
  margin-bottom: 18px;
}

/* footer */
.coral-joint__footer {
  margin-top: 12px;
}

/* кнопка */
.coral-joint__button {
  border-radius: 8px;
  border: 1px solid var(--colorBorder, rgba(0, 0, 0, 0.15));
  background: var(--colorBgContainer, #fff);
  padding: 5px 15px;
  font-size: 14px;
  line-height: 22px;
  cursor: pointer;
  width: 100%;
}
