@use 'tokens' as *;

/* сам контейнер */
swiper-container {
  position: relative;
  z-index: 10;
  display: block;
  align-items: stretch;
  width: 100%;
  transition: transform $transition;
  pointer-events: all;

  /* Swiper parts */
  &::part(pagination) {
    position: relative;
    margin-top: 12px;
  }

  &::part(bullet) {
    width: 10px;
    height: 10px;
    background: #33c2ff;

    @media (max-width: $bp-mobile) {
      background: rgb(255 255 255 / 60%);
    }
  }

  &::part(bullet-active) {
    width: 10px;
    height: 10px;
    background: #077dad;

    @media (max-width: $bp-mobile) {
      background: #fff;
    }
  }
}

/* скрытое/съезжающее состояние */
swiper-container.out-of-view {
  transform: translateX(-100%);

  @media (max-width: $bp-mobile) {
    transform: translateX(-150%);
  }
}


@media (max-width: $bp-mobile) {
  .joint-trigger.out-of-view {
    transform: translateX(-150%) translateY(0);
  }
}

.prime-btn {
  text-decoration: none;
}

swiper-container::part(bullet) {
  background: #FFFFFF;
}

swiper-container::part(bullet-active) {
  background: #FFFFFF;
}
