// Цвета
$white: #fff;
$black: #000;
$btn-bg: #0092d0;
$btn-bg-hover: #077dad;
$btn-bg-pressed: #0063b3;
$btn-bg-focused: #33c2ff;
$btn-border-focused: #0092d0;
$btn-bg-disabled: rgb(0 0 0 / 40%);
$text-light: #fff;
$text-muted: rgb(0 0 0 / 65%);
$text-accent: #0093d0;
$backdrop: #1b1b1b;
$divider: rgb(0 0 0 / 6%);
$border: #d9d9d9;

// Прочее
$transition: 300ms ease;
$radius-xxl: 20px;
$radius-lg: 12px;
$radius-md: 8px;

// Брейкпоинт
$bp-mobile: 993px;
