@use 'tokens' as *;

:host {
  position: fixed;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  z-index: 1000;
  width: 160px;
  pointer-events: none;

  @media (max-width: $bp-mobile) {
    width: 100%;
    height: 100%;
    padding: 24px 16px;
    display: flex;
    align-items: center;
  }
}

:host:has(swiper-container:not(.out-of-view)) {
  @media (max-width: $bp-mobile) {
    &::after {
      content: "";
      position: absolute;
      inset: 0;
      background: $backdrop;
      opacity: .7;
      pointer-events: none;
    }
  }
}
