@use 'tokens' as *;

/* сам контейнер */
swiper-container {
  width: 100%;
  align-items: stretch;
  transition: transform $transition;
  pointer-events: all;

  @media (max-width: $bp-mobile) {
    max-width: 300px;
  }

  /* Swiper parts */
  &::part(pagination) {
    position: relative;
    margin-top: 12px;
  }

  &::part(bullet) {
    width: 10px;
    height: 10px;
    background: #33c2ff;

    @media (max-width: $bp-mobile) {
      background: rgba(255, 255, 255, .6);
    }
  }

  &::part(bullet-active) {
    width: 10px;
    height: 10px;
    background: #077dad;

    @media (max-width: $bp-mobile) {
      background: #ffffff;
    }
  }
}

/* скрытое/съезжающее состояние */
swiper-container.out-of-view {
  transform: translateX(-100%);

  @media (max-width: $bp-mobile) {
    transform: translateX(-150%);
  }
}


@media (max-width: $bp-mobile) {
  .joint-trigger.out-of-view {
    transform: translateX(-150%);
  }
}

.prime-btn {
  text-decoration: none;
}
