.tabs-navigation {
  width: 100%;
  margin-bottom: 32px;


  &__list {
    width: 100%;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    gap: 12px;
    margin: 0;
    padding: 0;
    border-radius: 48px;

    @media (min-width: 1280px) {
      background: #FFFFFF;
      padding: 12px;
    }
  }

  &__item {
    border-radius: 24px;
    padding: 12px 24px;
    text-align: center;
    cursor: pointer;
    background: #fff;
    line-height: 24px;
    transition: all 300ms ease;
    display: flex;
    align-items: center;
    justify-content: center;

    @media (min-width: 1280px) {
      flex-grow: 1;
    }
  }

  &__item.js-active {
    background: #0093D0;
    color: #FFFFFF;
  }
}

.tabs-navigation.sunmar {
  .tabs-navigation__list {
    background: #F5F5F8;
    justify-content: center;
    padding: 8px;
    border-radius: 24px;
    gap: 4px;

    @media (min-width: 1024px) {
      gap: 8px;
      overflow-x: scroll;
      scroll-snap-type: x mandatory;
      justify-content: start;
      flex-wrap: nowrap;
    }
  }

  .tabs-navigation__item {
    background: #F5F5F8;
    font-weight: 600;
    width: calc(50% - 2px);

    @media (min-width: 1024px) {
      width: auto;
      flex: 1 0 auto;
      scroll-snap-align: start;
    }
  }

  .tabs-navigation__item.js-active {
    background: #061A3E;
  }
}

.no-scrollbar {
  overflow: auto; /* или scroll, если нужно всегда */
  -ms-overflow-style: none; /* IE и старый Edge */
  scrollbar-width: none; /* Firefox */
}

/* Chrome, Safari, новый Edge (WebKit / Blink) */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
