:host {
  box-sizing: border-box !important;
}

.coral-popup-trigger {
  font-family: 'Manrope', sans-serif;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
  background: transparent;
  padding: 7px 16px 7px 8px;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 40px;
  width: fit-content;
  cursor: pointer;
  flex-shrink: 0;
  text-decoration: none;
  margin-right: 8px;
  transition: border-color 0.3s ease;

  &:hover {
    border-color: #e7317d;
  }

  @media (max-width: 993px) {
    padding: 0;
    border: none;
  }
}

::slotted([slot="icon"]) {
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--gradient_Primary, linear-gradient(245deg, var(--Gradient-color_Gradinet_Primary_Second, #D8242A) 15.84%, var(--Gradient-color_Gradient_Primary_First, #E7317D) 84.16%));;
  border-radius: 100%;
  color: #ffffff;
}

::slotted([slot="text"]) {
  margin: 0;
  line-height: 1.1;
  font-weight: 600;
  font-size: 12px;
  color: #000;
  text-align: left;

  @media (max-width: 993px) {
    display: none;
  }
}
