/* Миксин медиазапроса с использованием CSS custom properties
Использует @media (min-width: ...)
@param {String} $breakpoint — ключ одного из брейкпоинтов:
- md:   768px
- lg:  1024px
- xl:  1280px
- 2xl: 1440px
*/

@mixin respond-up($breakpoint) {
  @if $breakpoint == md {
    @media (width >= 768px) {
      @content;
    }
  } @else if $breakpoint == lg {
    @media (width >= 1024px) {
      @content;
    }
  } @else if $breakpoint == xl {
    @media (width >= 1280px) {
      @content;
    }
  } @else if $breakpoint == 2xl {
    @media (width >= 1440px) {
      @content;
    }
  }
}

/* Базовый псевдоэлемент ::before или ::after
@param {String} $side - 'before' или 'after'
*/
@mixin pseudo($side) {
  position: relative;
  &::#{$side} {
    position: absolute;
    display: block;
    content: '';
  }
}

@mixin ruble {
  &::after {
    margin-left: 5px;
    content: "₽";
  }
}
