@use 'tokens' as *;

swiper-slide {
  background: $white;
  padding: 8px;
  border-radius: $radius-xxl;
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: flex-start;
  height: auto;
}

/* визуал */
.visual {
  position: relative;
  width: 100%;

  img {
    width: 100%;
    height: 140px;
    object-fit: cover;
    border-radius: $radius-lg;

    @media (max-width: $bp-mobile) {
      height: 200px;
    }
  }

  &[data-category]::after {
    content: attr(data-category);
    position: absolute;
    top: 10px;
    left: 10px;
    padding: 8px 12px;
    background: $black;
    color: $white;
    border-radius: $radius-md;
    line-height: 1;
    font-size: 12px;
    width: fit-content;
  }
}

.location {
  display: flex;
  align-items: center;
  gap: 2px;
  font-size: 12px;
  color: $text-muted;

  svg {
    width: 8px;
    height: 13px;
    flex-shrink: 0;
  }
}

h3 {
  margin: 0;
  font-size: 14px;
  font-weight: 600;
  text-align: left;
}

ul.rating {
  display: flex;
  align-items: flex-start;
  height: 20px;
  list-style: none;
  padding: 0;
  margin: 0;
}

span.rating {
  font-size: 16px;
  color: #fadb14;
}

.benefits {
  margin: 0 0 4px 0;
  padding-left: 20px;
  font-size: 10px;
  color: $text-muted;
}

.price {
  position: relative;
  width: 100%;
  padding-top: 4px;
  color: $text-accent;
  font-size: 20px;
  font-weight: 600;
  line-height: 28px;

  &::before {
    content: '';
    position: absolute;
    top: -4px;
    left: 0;
    width: 100%;
    height: 1px;
    background: $divider;
  }
}

.meal, .dates, .nights {
  color: $text-muted;
  font-weight: 400;
  font-size: 10px;
  line-height: 14px;
  font-family: inherit;
}

.actions {
  margin-top: auto;
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 8px;
}

.ligal-container {
  font-size: 12px;
  text-align: center;
  cursor: pointer;

  .ligal, .erid, .success {
    font-size: 10px;
  }
}

.erid {
  display: none;
}

@media (hover: hover) {
  .ligal-container:hover {
    .ligal {
      display: none;
    }

    .erid {
      display: block;
    }
  }

  .success {
    color: #52C41A;
  }
}
