/* Визуалка */
::slotted([slot="visual"]) {
  width: 100%;
  height: 262px;
  display: block;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  object-fit: cover;
}

::slotted([slot="ligal"]) {
  position: absolute;
  bottom: 8px;
  right: 20px;
  font-size: 6px;
  color: white;
}

/* Заголовок */
::slotted([slot="title"]) {
  font-size: 1.75em;
  font-weight: 600;
  text-align: center;
  margin-top: 0;
  margin-bottom: 16px;
}

/* Подзаголовок */
::slotted([slot="subtitle"]) {
  text-align: center;
  margin-top: 0;
  margin-bottom: 24px;
  font-size: 1.25em;
}

/* Кнопка */
::slotted([slot="button"]) {
  text-align: center;
  background-color: #0095d9;
  color: #ffffff;
  padding: 13px;
  border-radius: 8px;
  font-size: 1em;
  text-decoration: none;
  font-weight: 500;
  margin: 0 0 24px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

::slotted([slot="button"]:hover) {
  background-color: #077DAD;
}

::slotted([slot="button"]:active) {
  background-color: #0063B3;
}

/* Список */
::slotted([slot="list"]) {
  margin: 0 0 16px 0;
  font-size: 1em;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

/* Подсказка */
::slotted([slot="footnote"]) {
  font-size: 11px;
  margin: 0 0 16px 0;
  font-weight: 600;
}

/* Дисклеймер */
::slotted([slot="disclaimers"]) {
  font-size: 0.75rem;
  color: #666;
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
