@use "../../common/css/mixins";

section.kv > article .contenu .kv-main-banner {
  position: relative;
  width: 100%;
  overflow: hidden;
  border-radius: var(--border_Radius_MD);
  aspect-ratio: var(--ratio-428);

  @include mixins.kv-aspect-ratio;

  .content {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    width: 100%;
    max-width: 1530px;
    height: 100%;
    padding: var(--padding_LG);
    color: var(--color_Text_Light);
    margin-inline: auto;

    > *:not(.prime-btn, .content__location) {
      margin-bottom: 12px;
    }

    @include mixins.respond-up(md) {
      justify-content: center;
      padding: var(--padding_XL);
    }

    @include mixins.respond-up(lg) {
      padding: var(--padding_XXXXL);
    }

    .prime-btn {
      margin-top: 20px;
    }
  }

  .content__headline,
  .content__text {
    color: var(--color_Text_Light);
  }

  .content__headline {
    font-weight: 300;
  }

  .content__text {
    font-size: var(--font_Size_KV_Subline_M);

    @include mixins.respond-up(2xl) {
      font-size: var(--font_Size_KV_Subline_L);
    }
  }

  .content__placeholder {
    font-size: var(--font_Size_KV_Placeholder_M);

    @include mixins.respond-up(2xl) {
      font-size: var(--font_Size_KV_Placeholder_L);
    }
  }

  .content__location {
    position: absolute;
    bottom: var(--padding_LG);
    left: var(--padding_LG);
    display: flex;
    gap: 10px;
    margin: 0;
    padding: 4px 8px;
    color: var(--color_Text_Dark);
    background: rgb(255 255 255 / 80%);
    border-radius: 8px;

    @include mixins.respond-up(md) {
      right: var(--padding_Base);
      bottom: var(--padding_Base);
      left: unset;
    }
  }

  .vimeo-video-box {
    @include mixins.vimeo-responsive;

    iframe {
      @include mixins.scale-iframe(1.3);

      @include mixins.respond-up(md) {
        @include mixins.scale-iframe(1.5);
      }

      @include mixins.respond-up(lg) {
        @include mixins.scale-iframe(1.2);
      }
    }
  }

  picture {
    position: relative;
    z-index: 1;
  }
}
